* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 108px;
    border-radius: 6px;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.heading {
    color: #0d1111;
    font-weight: 700;
}

.heading.lv2 {
    font-size: 4.2rem;
}

.section {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.cta {
    min-width: 186px;
    line-height: 68px;
    border-radius: 14px;
    background: var(--primary-color);
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 0 41px;
}

/* ============================================== HEADER  ============================================ */
.header {
    padding: 52px 0px 10px;
    background: #c4a2a2; /* Nhớ bỏ */
    /* background: #fff; */
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
}

.header .nav ul {
    display: flex;
    margin-left: 214px;
}

.header .nav a:hover,
.header .nav .active a {
    font-size: 1.6rem;
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #2f3a3b;
}

.header .nav a {
    padding: 8px 19.5px;
    font-size: 1.6rem;
    font-weight: 400;
    color: #2f3a3b;
}

.header .actions {
    margin-left: auto;
}

.header .action-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #494949;
}

.header .action-link:hover {
    color: var(--primary-color);
}

.header .action-btn {
    margin-left: 24px;
    border: 0.9px solid var(--primary-color);
    padding: 12px 23px 12px 24px;
    color: #1ebfc1;
}

.header .action-btn:hover {
    color: #fff;
    background: var(--primary-color);
    opacity: 0.8;
}

/* ================================ HERO =============================== */
.hero {
    padding: 40px 0 79px;
    background: #7d7979; /* Nhớ bỏ */
}

.hero .body {
    display: flex;
}

/* Hero-left */
.hero .content-block {
    width: 45.2%;
    padding-top: 93px;
}

.hero .content-block .intro {
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
}

.hero .content-block .heading.lv1 {
    width: 100%;
    margin-top: 18px;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16; /* 116.129% */
}

.hero .content-block .desc {
    margin-top: 46px;
    width: 374px;
    color: #9da6a5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
}

.hero .content-block .cta-group {
    margin-top: 52px;
    display: flex;
    align-items: center;
}

.hero .content-block .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero .content-block .icon:hover {
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.648);
}

/* Hero-right */
.hero .media-block {
    position: relative;
    display: flex;
    width: 54.8%;
}

.hero .media-block .img {
    display: block;
    width: 576px;
    height: 631px;
    object-fit: cover;
    margin-left: auto;
}

.hero .media-block .item {
    position: absolute;
    display: flex;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.08);
}

.hero .media-block .title {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

/* item-1 */
.hero .media-block .item-1 {
    align-items: center;
    justify-content: center;
    top: 149px;
    left: 25px;
    width: 157px;
    height: 75px;
    border-radius: 18px;
}

.hero .media-block .item-1 .title {
    padding: 22px 25px 23px 16px;
}

/* item-2 */
.hero .media-block .item-2 {
    flex-direction: column-reverse;
    align-items: center;
    bottom: 46px;
    left: 0;
    width: 124px;
    border-radius: 24px;
    padding: 16px 25px 23px;
}

.hero .media-block .item-2 .icon-1 img {
    margin-top: 16px;
}

.hero .media-block .item-2 .icon-2 img {
    margin-top: 12px;
}

.hero .media-block .item-2 .icon-3 img {
    margin-top: 10px;
}

.hero .media-block .item-2 .icon-4 {
    display: flex;
    justify-content: center;
}

.hero .media-block .item-2 .icon-4 img {
    margin-top: 16px;
}

/* item-3 */
.hero .media-block .item-3 {
    flex-direction: column;
    position: absolute;
    width: 207px;
    border-radius: 24px;
    bottom: 41px;
    right: 45px;
    padding: 17px 0 17px 35px;
}

.hero .media-block .item-3 .avatar-group {
    display: flex;
    margin-top: 8px;
}

.hero .media-block .item-3 .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -7px;
    background: var(--bg-color, --primary-color);
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

.header .action-btn:hover {
    color: #fff;
    background: var(--primary-color);
    opacity: 0.8;
}

/* ================================ FEATURES =============================== */
.features {
    padding-top: 130px;
    background: #c8c4e0;
}

/* content */
.features .content .heading.lv2 {
    margin-top: 18px;
    width: 577px;
    line-height: 1.33; /* 133.333% */
}

.features .content .desc {
    margin-top: 18px;
    width: 590px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
}

/* features-list */
.features .features-list {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.features .features-list .title {
    margin-top: 26px;
    font-size: 2rem;
    font-weight: 600;
    color: #0d1111;
}

.features .features-list .desc {
    margin-top: 16px;
    color: #9da6a5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6875; /* 168.75% */
}

.features .features-list .desc-1 {
    width: 168px;
}

.features .desc-2,
.features .desc-3 {
    width: 223px;
}

/* ================================ POPULAR =============================== */
.popular {
    padding: 130px 0 96px 0;
    background: #ded7d7;
}

/* Popular-top */
.popular .popular-top .heading.lv2 {
    margin-top: 18px;
}

.popular .popular-top .desc {
    margin-top: 19px;
    width: 525px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
}

.popular .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .row .link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
}

.popular .row .link:hover {
    text-shadow: 1px 0 0 currentColor;
}

/* Popular-list */
.popular .popular-list {
    margin-top: 79px;
    display: flex;
    gap: 47px;
}

.popular .popular-list .popular-item {
    flex: 1;
    position: relative;
}

.popular .popular-list .thumb {
    width: 100%;
    height: 393px;
    border-radius: 8px;
    /* opacity: 0.35; */
    background: #d0efed;
}

.popular .popular-list .popular-bottom {
    position: absolute;
    padding-bottom: 29px;
    top: 322px;
    right: 17px;
    left: 17px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.popular .popular-item .title {
    margin: 18px 0 0 25px;
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.popular .popular-item .price {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 16px 0 0 25px;
    width: 96px;
    padding: 5.5px 0;
}

.popular .popular-item .price p {
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
}

.popular .popular-item .price strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.popular .popular-item .desc {
    margin-left: 25px;
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
}

.popular .popular-item .line-1 {
    margin-top: 6px;
}

.popular .popular-item .route {
    display: flex;
    margin-top: 18px;
}

.popular .popular-item .line-2 {
    position: relative;
    margin-left: calc(25px + 16px);
}

.popular .popular-item .line-2::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 6px;
    height: 6px;
    background: var(--primary-color);
    border-radius: 50%;
    left: -16px;
    top: 25%;
    transform: translateY(25%);
}

/* ================================ STATS =============================== */
.stats {
    padding: 265px 0 130px 0;
    background: #f8eeee;
}

.stats .row {
    display: flex;
    justify-content: space-between;
    padding: 0 154px;
}

.stats .row .qty-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats .row .qty {
    color: #0d1111;
    text-align: center;
    font-size: 6.2rem;
    font-weight: 700;
}

.stats .row .qty-desc {
    margin-top: 18px; /* Cái này căn dựa theo cảm tính cho giống file figma */
    color: #767e7e;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
}

.stats .feedback-list {
    margin-top: 264px;
    display: flex;
}

.stats .feedback-list .info {
    padding: 37px 72px 37px 0;
    width: 42%;
}

.stats .feedback-list blockquote {
    margin-top: 27px;
    color: #5d6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
}

.stats .feedback-list .author {
    position: relative;
    margin-top: 33px;
    display: flex;
    padding-left: 13px;
}

.stats .feedback-list .author::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 2px;
    background: #070707;
}

.stats .feedback-list .name {
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
}

.stats .feedback-list .position {
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
}

.stats .feedback-list .controls {
    display: flex;
    margin-top: 52px;
    gap: 30px;
}

.stats .feedback-list .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: transparent;
}

.stats .feedback-list .control-btn:hover {
    cursor: pointer;
    color: white;
    background: var(--primary-color);
}

.stats .feedback-list .images {
    display: flex;
    position: relative;
    width: 58%;
}

.stats .feedback-list .avatar {
    position: absolute;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    object-fit: cover;
    background: var(--bg-color, #fff);
}

.stats .feedback-list .ava-1 {
    width: 78px;
    height: 78px;
    bottom: 145px;
    left: 0;
}

.stats .feedback-list .ava-5 {
    top: 0;
    left: 144px;
}

.stats .feedback-list .ava-3 {
    width: 110px;
    height: 110px;
    top: 19px;
    right: 0;
}

.stats .feedback-list .ava-4 {
    width: 78px;
    height: 78px;
    right: 32px;
    bottom: 29px;
}

.stats .feedback-list .ava-6 {
    width: 78px;
    height: 78px;
    bottom: 0;
    left: 212px;
}

.stats .feedback-list .ava-7 {
    width: 235px;
    height: 235px;
    top: 107px;
    left: 273px;
}

/* ================================ SIGN-UP =============================== */
.sign-up {
    background: #def6f5;
}

.sign-up .body {
    display: flex;
    align-items: center;
}

.sign-up .info {
    padding: 76px 410px 88px 0;
}

.sign-up .info .heading.lv2 {
    color: #070707;
}

.sign-up .info .desc {
    margin-top: 25px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
}
